* {
	font-family: "Courier New", Courier, monospace;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 0px;
}

.flex-container > div {
	background-color: #000000;
	width: 33.33%;
	margin: 15px;
	text-align: center;
	font-size: 20px;
}

/* cards code */
.container {
	transform: translate(0%, 0%);
	height: 400px;
	width: 600px;
	background: #f2f2f2;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
	position: absolute;
	top: 70%;
	width: 100%;
	transform: translatey(-20%);
	text-align: justify;
	color: rgb(255, 255, 255);
	padding: 20px;
	background-color: rgba(0,0,0,.5);
}
 .head {
	 color: khaki;
	 font-size: 90px;
	 text-align: center;
	 font-family: monospace;
	 background-image: url("../img/1920x1080-px-clouds-sky-1423451-wallhere.com.jpg");
 }

.house1 {
	background-image: url("../villa/villa\ 4/villa\ 4\ woonkamer.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house1::before {
	background: url("../villa/villa\ 4/villa\ 4.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house1::after {
	background: url("../villa/villa\ 4/villa\ 4.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house2 {
	background-image: url("../villa/villa\ 5/villa\ 5\ slaapkamer.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house2::before {
	background: url("../villa/villa\ 5/villa\ 5.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house2::after {
	background: url("../villa/villa\ 5/villa\ 5.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house3 {
	background-image: url("../villa/villa\ 6/villa\ 6\ keuken.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house3::before {
	background: url("../villa/villa\ 6/villa\ 6.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house3::after {
	background: url("../villa/villa\ 6/villa\ 6.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house4 {
	background-image: url("../villa/back1.png");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house4::before {
	background: url("../villa/villa1.png") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house4::after {
	background: url("../villa/villa1.png") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house5 {
	background-image: url("../villa/back2.jpg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house5::before {
	background: url("../villa/villa2.jpg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house5::after {
	background: url("../villa/villa2.jpg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house6 {
	background-image: url("../villa/back3.png");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house6::before {
	background: url("../villa/villa3.webp") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house6::after {
	background: url("../villa/villa3.webp") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.container:hover .flap::after {
	transform: translatex(100%);
}

.container:hover .flap::before {
	transform: translatex(-100%);
}

footer {
  background: rgb(231, 228, 228);
  height: 200px;
  width: 100vw;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3.5rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #000000;
}

.footer-bottom {
  background: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
