* {
	font-family: "Courier New", Courier, monospace;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
}

.flex-container > div {
	background-color: #f1f1f1;
	width: 33.33%;
	margin: 10px;
	text-align: center;
	font-size: 25px;
}

/* cards code */
.container {
	/* position: absolute;
	left: 12%;
	top: 12%; */
	transform: translate(0%, 0%);
	height: 400px;
	width: 600px;
	background: #f2f2f2;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
	position: absolute;
	top: 50%;
	transform: translatey(-20%);
	text-align: justify;
	color: snow;
	padding: 40px;
	background-color: #50505069;
	border-right: solid gray 2px;
}

/* .flap {
	width: 100%;
	height: 100%;
	background-size: 100%;
}

.flap::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}

.flap::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
} */
.house1 {
	background-image: url("../villa/villa\ 4/villa\ 4\ woonkamer.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house1::before {
	background: url("../villa/villa\ 4/villa\ 4.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house1::after {
	background: url("../villa/villa\ 4/villa\ 4.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house2 {
	background-image: url("../villa/villa\ 5/villa\ 5\ slaapkamer.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house2::before {
	background: url("../villa/villa\ 5/villa\ 5.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house2::after {
	background: url("../villa/villa\ 5/villa\ 5.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house3 {
	background-image: url("../villa/villa\ 6/villa\ 6\ keuken.jpeg");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house3::before {
	background: url("../villa/villa\ 6/villa\ 6.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house3::after {
	background: url("../villa/villa\ 6/villa\ 6.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house4 {
	background-image: url("");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house4::before {
	background: url("../villa/villa\ 1.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house4::after {
	background: url("../villa/villa\ 1.jpeg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house5 {
	background-image: url("");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house5::before {
	background: url("../villa/villa\ 2.jpg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house5::after {
	background: url("../villa/villa\ 2.jpg") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.house6 {
	background-image: url("");
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.house6::before {
	background: url("../villa/villa\ 3.webp") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}
.house6::after {
	background: url("../villa/villa\ 3.webp") white;
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.container:hover .flap::after {
	transform: translatex(100%);
}

.container:hover .flap::before {
	transform: translatex(-100%);
}
