.flex-container {
	display: flex;
	flex-wrap: nowrap;
  gap: 10px;
}

.flex-container > div {
	background-color: #f1f1f1;
	width: 33.33%;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

/* cards code */
.container {
	/* position: absolute;
	left: 12%;
	top: 12%; */
	transform: translate(0%, 0%);
	height: 400px;
	width: 600px;
	background: #f2f2f2;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	text-align: justify;
	color: snow;
	padding: 40px;
	font-family: "Merriweather", serif;
	background-color: #50505069;
}

h1 {
	font-weight: 900;
	text-align: center;
}

h3 {
	font-weight: 300;
}

.flap {
	width: 100%;
	height: 100%;
	background-image: url("https://cloud.funda.nl/valentina_media/159/080/225_1440.jpg");
	background-size: 100%;
}

.flap::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	left: 0;
	background: url("https://cloud.funda.nl/valentina_media/159/080/181_720x480.jpg") white;
	background-position: 0px;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: 1s;
}

.flap::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	right: 0;
	background: url("https://cloud.funda.nl/valentina_media/159/080/181_720x480.jpg") white;
	background-size: 200%;
	background-position: 100%;
	background-repeat: no-repeat;
	transition: 1s;
}

.container:hover .flap::after {
	transform: translatex(100%);
}

.container:hover .flap::before {
	transform: translatex(-100%);
}
