* {
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav2 {
  font-size: 25px;
  word-spacing: 100px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

li {
  display: inline;
  margin-left: 40px;
}

a {
  color: black;
  text-decoration: none;
}

.headera {
  margin-left: 40px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.tte {
  word-spacing: normal;
}

#vid1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#logo {
  float: left;
  margin-top: 5px;
  width: 120px;
  height: 70px;
}

/* Navigation bar */
body {
  margin: 0;
}

* {
  box-sizing: border-box;

}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 50vw;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

#bigpic {
  height: 70vh;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* GRID LAYOUT */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 10%;
  background-color: rgb(248, 242, 242);
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(248, 242, 242);
  font-family: sans-serif;
}

footer {
  background: rgb(231, 228, 228);
  height: 200px;
  width: 100vw;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3.5rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #000000;
}

.footer-bottom {
  background: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
