* {
    font-family: 'Courier New', Courier, monospace;
  }
  .nav {
      position: sticky;
      top: 0;
      z-index: 5;
  }
  .nav2 {
      font-size: 25px;
      word-spacing: 100px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
  }
  li {
      display: inline;
      margin-left: 40px;
  }
  a {
      font-size: 15px;
      color: black;
      text-decoration: none;
  }
  .headera {
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: black;
}
  .tte {
      word-spacing: normal;
  }
  #vid1 {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
  }
  #logo {
      float: left;
      margin-top: 5px;
      width: 120px;
      height: 70px;
  }
  /* Navigation bar */
  body {
      margin: 0;
    }
    
    * {
      box-sizing: border-box;
      
    }
    
    img {
      vertical-align: middle;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .container {
      position: relative;
      width: 50vw;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    #bigpic {
        height: 70vh;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: #222;
      padding: 2px 16px;
      color: white;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
  
    /* GRID LAYOUT */
    .parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .div1 { 
          grid-area: 1 / 1 / 2 / 2; 
      }
      .div2 { 
          grid-area: 1 / 2 / 2 / 3; 
          padding: 10%;
          background-color: rgb(248, 242, 242);
          font-size: 30px;
      }
  
      /* Footer */
      /* Footer Parent Div Styling */
      
      #footer {
        
        width:100%;
        background-color:#fff;
        margin: 0 auto;
      
      }
      
        
      /* H3 Styling */
      
      h3.left {
      
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 10px 0; 
        text-align: left;
      
      }
      
      h3.center {
      
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 10px 0; 
        text-align: center;
      
      }
        
      
      /* List Styling */
      
        ul {
          margin: 0;
          list-style-type: none;
      }
      
          li {
          margin: 0;
          color: #666666;
          font-size: 13px;
          font-weight: 300;
          line-height: 22px;
          list-style-type: none;
          text-align: left;
      }
       
      
      /* Utility Links Div Styling */
      
      #utility-links {
      
        width: 50%;
        height: 150px;
        background-color:#fff;
        margin: 40px auto 0 auto;
         
      }
      
      .rectangle {
        width: 1px;
        height: 100px;
        background: #D8D8D8;
        margin: 0 30px 0 0;
        float: left;
        display: inline-block;
      
      }
      
        
      /* Help Styling */
      
      .help {
       
        width: 30%;
        height: 100px;
        float: left;
        margin: 0;
        display: inline-block;
       
      }
      
        
      /* Help Img Icons*/
      
      .help-img-icon {
      
        float: left;
        margin: 0 5px 0 0;
      
      }
      
      
      /* About Styling */
      
      .about {
      
        width: 30%;
        height: 100px;
        float: left;
        margin: 0;
        display: inline-block;
      
      }
      
      
      /* Card Services Styling */
      
      .card {
      
        width: 30%;
        height: 100px;
        float: left;
        margin: 0;
        display: inline-block;
      
      }   

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
  
  
      